/* Global CSS */
body{
    background-color: black;
    margin: collapse;
}

:root{
    font-size: 0.9vw;
}

/* Navbar CSS */
.nav-item{
    padding: 0.2rem;
    padding-right: 1rem;
}

.navbar-brand{
    padding: 0.2rem;
    padding-left: 1rem;
}

.navbar{
    background-color: #1d1d1d;
    margin: 1.5vh;
    border-radius: 0.6rem;
}


/* Grid Container CSS */
.grid-container{
    display: flex;
}


/* Sidebar Container CSS */
.sidebar{
    position: sticky;
    display: flex;
    flex-direction: column;
    width: 11vw;
    height: 85vh;
    background-color: #1d1d1d;
    border-radius: 0.5rem;
    margin: 0.7vw;
    margin-top: 0;
    padding: 0.7vw;
    
}

.sidebar-list{
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
}


/* User-Data-Card */
.sidebar-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    background-color: #2f2f2f;
    width: 100%;
    height: 25vh;
    align-self: center;
    margin-bottom: 7vh;
    border-radius: 0.5rem;
}

#welcome-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    color: white;
}

#username{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 0.9rem;
    color: white;
}

#user-image{
    align-self: center;
    margin-bottom: 2vh;
    width: 14vh;
    border-radius: 50%;
    box-shadow: 0 0 0.5rem rgba(0, 217, 255, 0.493);
}

/* Sidebar Menu Items */
.sidebar-link{
    text-align: left;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 0.6rem;
    background-color: #2f2f2f;
    transition: all 0.3s ease;
    width: 100%;
    align-self: center;
    margin: 1.2vh;
    border-radius: 0.5rem;
    border: none;
}

.active{
    color: black;
    background-color: white;
}

.logout{
    margin-top: 16vh;
    margin-bottom: 0;
    background-color: #242424;
}

.sidebar-link:hover{
    color: black;
    background-color: white;
    box-shadow: 0 0 0.9rem rgba(0, 217, 255, 0.678);
}

.sidebar-link i{
    font-size: 0.95rem;
    padding: 00.2rem;
    line-height: 1rem;
    margin-right: 1rem;
}

.content{
    color: white;
    font-size: 1.2rem;
}